.loginForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.signup{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 20px; 
    margin-right: 20px;
    animation: fadeInAnimation ease 1s;
}

.signer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 20px; 
    margin-right: 20px;
    animation: fadeInAnimationTwo ease 1s;
}

@keyframes fadeInAnimation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAnimationTwo{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.confirmEntry{
    margin: 6px;
}
